<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/final_php/assets/cadastro.css" />
    <link rel="stylesheet" href="/final_php/assets/global.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="/final_php/node_modules/jquery/dist/jquery.min.js"></script> 
    <script type="text/javascript" src="/final_php/node_modules/jQuery-Mask-Plugin-master/src/jquery.mask.js"></script> 
    <title>Cadastro de Administrador</title>
  </head>
  <body>

    <div class="tudo">
      <div class="bloco1">
        <h1 class="title" style="color: white;">Cadastre um Administrador</h1>
        <form method="POST" action="cadastroAdm.php" class="form">

          <div class="box">
            <input type="text" name="nome" id="nome" required />
            <span>Nome completo</span>
            <i></i>
          </div>

          <div class="box">
            <input type="text" name=" cpf" id="cpf" required />
            <span>CPF</span>
            <i></i>
          </div>

          <div class="box">
            <input type="text" name="tel" id="telefone" required />
            <span>Telefone</span>
            <i></i>
          </div>

          <div class="box">
            <input type="text" name="email" id="email" required />
            <span>E-mail</span>
            <i></i>
          </div>

          <div class="box">
            <input type="password" name="senha" id="senha" required />
            <span>Senha</span>
            <i></i>
          </div>
          
          <input type="submit" value="Cadastrar" class="btn">
          
        </form>

      </div>
    </div>
    <script>
      // https://igorescobar.github.io/jQuery-Mask-Plugin/docs.html

        var options =  {
          onKeyPress: function(tel, e, field, options) {
          var masks = ['(00) 0000-00009', '(00) 0 0000-0009'];
          var mask = (tel.length > 14) ? masks[1] : masks[0];
          $('#telefone').mask(mask, options);
        }};

        jQuery(document).ready(function($){ 
          $("#cpf").mask("000.000.000-00");
        });
       
        jQuery(document).ready(function($){ 
          $("#telefone").mask("(00) 0000-00009", options);
        });
      
        function validar() {
        var nome = document.getElementById('nome').value;
        var email = document.getElementById('email').value;
        var telefone = document.getElementById('telefone').value;
        var cpf = document.getElementById('cpf').value;
        var senha = document.getElementById('senha').value;
        var form = document.getElementById('form');

        telefone = telefone.replace(/\s+/g, "");

        let regexNome = (/^.{3,40}$/).test(nome);
        let regexEmail = (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/).test(email);
        let regexTelefone = (/^(?:\()[0-9]{2}(?:\))\s?[0-9]{4,5}(?:-)[0-9]{4}$/).test(telefone);
        let regexCpf = (/^([0-9]{2}[\.][0-9]{3}[\.]?[0-9]{3}[\/][0-9]{4}[-][0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.][0-9]{3}[-][0-9]{2})$/).test(cpf);
        let regexSenha = (/^.{6,15}$/).test(senha);

        // Validação de Email

        if(!regexNome) {
          alert("Nome inválido. Por favor, insira seu nome e sobrenome (máximo de 40 caracteres).");
        }

        if(!regexEmail) {
          alert("Valor inválido de email.");
        }

        // Validação de telefone

        if(!regexTelefone) {
          alert("Valor inválido de telefone. A formatação deve incluir traços e parênteses do DDD.");
        }

        // Validação CPF

        if(!regexCpf) {
          alert("Valor inválido de CPF. A formatação deve incluir pontos e traços.");
        }

        // Validação de Senha

        if(!regexSenha) {
          alert("Valor inválido para senha. Sua senha deve conter entre 6 e 15 caracteres.");
        }

        // Envio do formulário

        if(regexNome && regexEmail && regexTelefone && regexCpf && regexSenha) {
          form.submit();
        }
      }
    </script>
  </body>
</html>