.container {
    padding: 2rem;
  }
  table {
    flex-direction: column;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 2em;
    font-family: "Josefin Sans", sans-serif;
    margin: 0.5em 0 0.75em;
  }
  
  table tr {
    /* display: flex;
      justify-content: space-between; */
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 0.35em;
  }
  
  table th,
  table td {
    padding: 0.625em;
    text-align: center;
  }
  
  table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: rgb(79,0,106);
    color: #fff;
  }
  
  table tbody {
    width: 100%;
  }
  
  .action {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  .btn {
    color: #fff;
    padding: 0.8rem;
    border-radius: 0.3rem;
    background-color: #060552;
    transition: 0.3s;
  }
  
  @media screen and (max-width: 600px) {
    .btn {
      padding: 0.4rem;
    }
  }
  
  .btn:hover {
    background-color: #3d4152;
  }
  
  .thead .th:last-child {
    margin-right: 40px;
  }
  
  .tbody .tr:nth-child(odd) {
    background-color: #fee;
  }
  
  .tbody .tr:nth-child(even) {
    background-color: #eee;
  }
  
  .thead .th:first-child {
    width: 35%;
  }
  
  .tbody .tr td:first-child {
    width: 35%;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
  
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }
  
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }
  
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  .status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5%;
  }
  
  @media screen and (max-width: 600px) {
    .status {
      justify-content: space-between;
    }
  }
  
  .radius {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
  }
  
  .statusRed {
    background-color: red;
  }

  .statusGreen {
    background-color: green;
  }
  
  .statusYellow {
    background-color: yellow;
  }

  .statusGray {
    background-color: gray;
  }
  
  .iconEdit {
    width: 1.4rem;
    cursor: pointer;
  }
  
  /* Modal detalhes */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #f6f6f6;
    margin: auto;
    padding: 20px;
    border: 1px solid #514c4c;
    width: 30%;
  }
  
  h1 {
    text-align: center;
    color: #060552;
    font-size: 1.4rem;
    font-weight: 800;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* Fim do Modal */
  
  .detailsProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
  
  .content {
    padding: 1rem;
  }
  
  .btnModal {
    display: flex;
    justify-content: space-evenly;
  }
  
  @media screen and (max-width:600px){
    .btnModal{
      display: flex;
      justify-content: space-evenly;
    }
  }
  
  .title-box {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
