.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn {
    display: flex;
    align-self: center;
    width: 20rem;
    justify-content: center;
    height: 3rem;
    align-items: center;
  
    margin-top: 3rem;
    background-color: rgb(79,0,106);
    color: #fff;
    padding: 0.6rem;
    border-radius: 0.3rem;
    transition: 0.4s;
  }
  
  .btn:hover {
    background-color: #060552;

  }
  
  @media screen and (max-width: 400px) {
    .btn {
      width: 10rem;
    }
  }
  
  .title {
    text-align: center;
    padding-top: 2rem;
    text-align: center;
    color: #3d4152;
  }
  
  @media screen and (max-width: 400px) {
    .title {
      font-size: 1.4rem;
    }
  }