.container {
  padding: 2rem;
}

.title {
  text-align: center;
  padding: 20px;
}

table {
  border-collapse: collapse;
  margin-left: 0%;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 2em;
  font-family: ui-monospace;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: rgb(79, 0, 106);
  color: #fff;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

table td {
  word-wrap: break-word;
}
/*tr:nth-child(even) {
  background-color: orange;
}

tr:nth-child(odd) {
  background-color: #F0D500;
} */

/*.editar {
  background-color: #f0d500;
  transition: 400ms;
}

.editar:hover {
  background-color: yellow;
  color: #000;
}

.excluir {
  background-color: #f32013;
  transition: 400ms;
}

 .excluir:hover {
  background-color: red;
} */

.total td {
  background-color: rgb(79, 0, 106);
  color: #fff;
}

.opcoes {
  /* width: 50vw;
  margin: auto;

  border: 1px solid red; */
}

.opcoes a:hover {
  background-color: cornflowerblue;
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: center;
}