.title {
  text-align: center;
  padding: 20px;
}

ul {
  display: flexbox;
  width: 60vw;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 30px;

  list-style: none;
}

li {
  margin: 20px 0px;
  padding: 20px;
}

.item_page {
  background-color: rgb(79, 0, 106);
  border-radius: 7px;
  padding: 20px;
  transition: 400ms;
}

.item_page:hover {
  background-color: #3d4152;
}

.title {
  text-align: center;
  padding: 20px;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 2em;
  font-family: ui-monospace;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: rgb(79, 0, 106);
  color: #fff;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
